@{
  Layout = "_Layout";
}
@using ProjectName.Models
<h1>Page Title</h1>
@{foreach (Item item in Item.GetAll())
{
  <h4><a href="/items/@item.Id">@item.Property</a></h4>
}}
<div class="footer">
  <a href="/">Return To Home</a>
  <a href="/items/new">Add another</a>
</div>