@{
  Layout = "_Layout";
}
@using VendorOrders.Models
<h1>Page Title</h1>
@{foreach (Vendor vendor in Vendor.GetAll())
{
  <h4><a href="/vendors/@vendor.Id">@vendor.Name</a></h4>
}}
<div class="footer">
  <a href="/">Return To Home</a>
  <a href="/vendors/new">Add another</a>
</div>