@{
  Layout = "_Layout";
}
@using VendorOrders.Models
<div class="header">
  <h1>All Vendors</h1>
</div>
<div class="content">
  @if(@Vendor.GetAll().Count == 0)
  {
    <h3>No Vendors added!</h3>
  }
  else
  {
    <ol>
      @foreach (Vendor vendor in Model)
      {
        <li><a href="/vendors/@vendor.Id">@vendor.Name</a></li>
      }
    </ol>
  }
</div>
<div class="footer">
  <a href="/">Return To Home</a>
  <a href="/vendors/new">Add new Vendor</a>
</div>