@{
  Layout = "_Layout";
}
@using VendorOrders.Models
<div class="header">
  <h1>@Model["vendor"].Name</h1>
</div>
<div class="content">
  <h2>Description: </h2>
  @if(@Model["vendor"].Description == null)
  {
    <h3 class="empty">No Description Given!</h3>
  }
  else
  {
    <h3>@Model["vendor"].Description</h3>
  }
  <h2>Their Orders: </h2>
  
  @if(@Model["orders"].Count == 0)
  {
    <h3 class="empty">No Orders added!</h3>
  }
  else
  {
    <ol>
    @foreach(Order order in @Model["orders"])
    {
      <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
    }
    </ol>
  }
    
  
</div>
<div class="footer">
  <p>[ <a href='/vendors/@Model["vendor"].Id/orders/new'>Add new Order</a> ]
  [ <a href="/vendors">Return to List of Vendors</a> ]
  [ <a href="/">Return To Home</a> ]</p>
</div>