@{
  Layout = "_Layout";
}
<div class="header">
  <h1>Vendor and Order Tracker v2</h1>
</div>
<div class="content">
  <h2>Welcome to Your Bakery Vendor Order Tracker!</h2>
  <h2>Track the businesses/customers that use this bakery as a vendor and their orders when they purchase baked goods from you.</h2>
</div>
<div class="footer">
  <p>[ <a href="/vendors">View all Vendors</a> ] 
  [ <a href="/vendors/new">Add new Vendor</a> ]</p> 
</div>


