@{
  Layout = "_Layout";
}
@using VendorOrders.Models
<h1>Page Title</h1>
@{foreach (Order order in Order.GetAll())
{
  <h4><a href="/orders/@order.Id">@order.Title</a></h4>
}}
<div class="footer">
  <a href="/">Return To Home</a>
  <a href="/orders/new">Add another</a>
</div>