@{
  Layout = "_Layout";
}
<h1>Enter a Job Posting Here</h1>
<form action="/item" method="post">
  <div class="form-group">
    <label for="property">Form Item</label>
    <input id="property" name="property" type="text" required>
  </div>
  <button type="submit">Add</button>
</form>
<div class="footer">
  <a href="/">Return to Home</a>
  <a href="/items">View items</a>
</div>